In [1]:
import numpy as np

In [35]:
temp1=[22.5, 25.3, 20.8, 23.4, 26.1, 24.8, 21.9]
temperatures_w1 = np.array(temp1) #Create a 1D NumPy Array

In [82]:
print("\n The Array is : ",temperatures_w1)

 The Array is :  [22.5 25.3 20.8 23.4 26.1 24.8 21.9]

In [83]:
print("\n The Shape of array is: ",temperatures_w1.shape) #Inspection and Properties

 The Shape of array is:  (7,)

In [79]:
print("The type of array is : ",temperatures_w1.dtype)

The type of array is :  float64

In [85]:
print("\n The Size of array is: ",temperatures_w1.size)

 The Size of array is:  7

In [87]:
converted=(temperatures_w1*(9/5))+32 #Array Operations
print("\n The Farhenheit value is : ",converted)

 The Farhenheit value is :  [72.5  77.54 69.44 74.12 78.98 76.64 71.42]

In [88]:
print("\n The maximum Temperature is: ",np.max(converted))

 The maximum Temperature is:  78.98

In [89]:
print("The MInimum Temp is: ",np.min(converted))

The MInimum Temp is:  69.44

In [90]:
print("The mean temp is: ",np.mean(converted))

The mean temp is:  74.37714285714286

In [91]:
first_threedays=temperatures_w1[0:3] #Array Slicing and Indexing
print("The first 3 days Temperature is: ",first_threedays)

The first 3 days Temperature is:  [22.5 25.3 20.8]

In [92]:
weekend_days=temperatures_w1[-2:]
print("The Weekdays Temperature is: ",weekend_days)

The Weekdays Temperature is:  [24.8 21.9]

In [93]:
middle_days=temperatures_w1[2:5]
print("The Middle days Temperature is: ",middle_days)

The Middle days Temperature is:  [20.8 23.4 26.1]

In [94]:
temp2=[19.2, 22.5, 21.3, 24.0, 23.5, 22.8, 20.1] #Create a 2D Array
temperatures_w2=np.array(temp2)
print("The 2nd week temperature is: ",temperatures_w2)

The 2nd week temperature is:  [19.2 22.5 21.3 24.  23.5 22.8 20.1]

In [95]:
final_temp=np.array([temperatures_w1,temperatures_w2])
print("The final Temperature data is : ",final_temp)

The final Temperature data is :  [[22.5 25.3 20.8 23.4 26.1 24.8 21.9]
 [19.2 22.5 21.3 24.  23.5 22.8 20.1]]

In [96]:
print("The shape of final data is:", final_temp.shape) #Inspect and Slice the 2D Array

The shape of final data is: (2, 7)

In [97]:
print("The Type of final data is :",final_temp.dtype)

The Type of final data is : float64

In [98]:
print("The Size of the Final data is: ",final_temp.size)

The Size of the Final data is:  14

In [99]:
print("The 1st week data is: ",final_temp[0])

The 1st week data is:  [22.5 25.3 20.8 23.4 26.1 24.8 21.9]

In [100]:
print("The 2nd week data is: ",final_temp[1])

The 2nd week data is:  [19.2 22.5 21.3 24.  23.5 22.8 20.1]

In [101]:
print("Weekend data of 1st week is: ",final_temp[0,-2:])

Weekend data of 1st week is:  [24.8 21.9]

In [102]:
print("Weekend data of 2nd week is: ",final_temp[1,-2:])

Weekend data of 2nd week is:  [22.8 20.1]

In [62]:
import pandas as pd #Creating Pandas Series:

In [65]:
marks=pd.Series([95, 92, 89, 85, 80],index=['Rank1', 'Rank2', 'Rank3', 'Rank4', 'Rank5'])

In [106]:
print("The Marks data is:\n",marks);

The Marks data is:
 Rank1    95
Rank2    92
Rank3    89
Rank4    85
Rank5    80
dtype: int64

In [107]:
print("The first mark is: ",marks[0]) #Indexing and Slicing

The first mark is:  95

C:\Users\midhu\AppData\Local\Temp\ipykernel_25612\3058067549.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("The first mark is: ",marks[0])

In [110]:
print("The Top 3 ranks are:\n", marks.loc[['Rank1','Rank2','Rank3']])

The Top 3 ranks are:
 Rank1    95
Rank2    92
Rank3    89
dtype: int64

In [113]:
print("Mark of 3rd Rank is:",marks.iloc[2])

Mark of 3rd Rank is: 89

In [115]:
print("Marks greater than 90 are:\n",marks[marks>90])

Marks greater than 90 are:
 Rank1    95
Rank2    92
dtype: int64

In [116]:
marks['Rank1']=100 #Manipulating the Series
print("Updated marks is:\n",marks)

Updated marks is:
 Rank1    100
Rank2     92
Rank3     89
Rank4     85
Rank5     80
dtype: int64

In [117]:
marks=marks.drop('Rank5')
print("The Marks after dropping is:\n",marks)

The Marks after dropping is:
 Rank1    100
Rank2     92
Rank3     89
Rank4     85
dtype: int64

In [118]:
cgpa=marks/10
print("The CGPA is:\n",cgpa)

The CGPA is:
 Rank1    10.0
Rank2     9.2
Rank3     8.9
Rank4     8.5
dtype: float64

In [157]:
a={"Transaction":[101, 102, 103, 104, 105, 106, 107, 108, 109, 110],"ProductCategory":['Electronics', 'Clothing', 'Electronics', 'Furniture',
'Clothing', 'Electronics', 'Furniture', 'Clothing', 'Furniture', 'Electronics'],"Region":['North', 'South', 'North', 'East', 'West', 'North', 'East', 'West',
'South', 'North'],"Amount":[200, 150, 300, 450, 200, 250, 300, 180, 350, 400]}

In [158]:
df=pd.DataFrame(a) #Pandas DataFrame
print(df)

   Transaction ProductCategory Region  Amount
0          101     Electronics  North     200
1          102        Clothing  South     150
2          103     Electronics  North     300
3          104       Furniture   East     450
4          105        Clothing   West     200
5          106     Electronics  North     250
6          107       Furniture   East     300
7          108        Clothing   West     180
8          109       Furniture  South     350
9          110     Electronics  North     400

In [159]:
print("First five rows of dataframe is:\n", df.head()) #Data Exploration

First five rows of dataframe is:
    Transaction ProductCategory Region  Amount
0          101     Electronics  North     200
1          102        Clothing  South     150
2          103     Electronics  North     300
3          104       Furniture   East     450
4          105        Clothing   West     200

In [160]:
print("Last five rows of dataframe is:\n", df.tail())

Last five rows of dataframe is:
    Transaction ProductCategory Region  Amount
5          106     Electronics  North     250
6          107       Furniture   East     300
7          108        Clothing   West     180
8          109       Furniture  South     350
9          110     Electronics  North     400

In [161]:
print("Shape of the Dataframe:", df.shape)

Shape of the Dataframe: (10, 4)

In [162]:
print("The Columns are:", df.columns)

The Columns are: Index(['Transaction', 'ProductCategory', 'Region', 'Amount'], dtype='object')

In [163]:
print("Data type of the dataframe is:\n", df.dtypes)

Data type of the dataframe is:
 Transaction         int64
ProductCategory    object
Region             object
Amount              int64
dtype: object

In [164]:
print("The ProductCategory and Amount colums data are:\n",df[['ProductCategory','Amount']])

The ProductCategory and Amount colums data are:
   ProductCategory  Amount
0     Electronics     200
1        Clothing     150
2     Electronics     300
3       Furniture     450
4        Clothing     200
5     Electronics     250
6       Furniture     300
7        Clothing     180
8       Furniture     350
9     Electronics     400

In [165]:
print("Last 3 columns using iloc is:\n",df.iloc[-3:])

Last 3 columns using iloc is:
    Transaction ProductCategory Region  Amount
7          108        Clothing   West     180
8          109       Furniture  South     350
9          110     Electronics  North     400

In [166]:
n_higher=df[(df['Region']=="North") & (df['Amount']>200)]
print("The North region with Amount greater than 200",n_higher)

The North region with Amount greater than 200    Transaction ProductCategory Region  Amount
2          103     Electronics  North     300
5          106     Electronics  North     250
9          110     Electronics  North     400

In [167]:
print("The Product Category Count is:\n",df['ProductCategory'].value_counts())

The Product Category Count is:
 ProductCategory
Electronics    4
Clothing       3
Furniture      3
Name: count, dtype: int64

In [168]:
print("Unique Regions are:\n",df['Region'].unique())

Unique Regions are:
 ['North' 'South' 'East' 'West']

In [169]:
print("Mean of Amount by Region is:\n",df.groupby('Region')['Amount'].mean())

Mean of Amount by Region is:
 Region
East     375.0
North    287.5
South    250.0
West     190.0
Name: Amount, dtype: float64

In [170]:
df.loc[df['Transaction']==102,'Amount']=165
print("The Data frame after the changes in 102 is:",df)

The Data frame after the changes in 102 is:    Transaction ProductCategory Region  Amount
0          101     Electronics  North     200
1          102        Clothing  South     165
2          103     Electronics  North     300
3          104       Furniture   East     450
4          105        Clothing   West     200
5          106     Electronics  North     250
6          107       Furniture   East     300
7          108        Clothing   West     180
8          109       Furniture  South     350
9          110     Electronics  North     400

In [171]:
df['Discount']=df['Amount']*0.1
print("The Dataframe after adding discount is:\n",df)

The Dataframe after adding discount is:
    Transaction ProductCategory Region  Amount  Discount
0          101     Electronics  North     200      20.0
1          102        Clothing  South     165      16.5
2          103     Electronics  North     300      30.0
3          104       Furniture   East     450      45.0
4          105        Clothing   West     200      20.0
5          106     Electronics  North     250      25.0
6          107       Furniture   East     300      30.0
7          108        Clothing   West     180      18.0
8          109       Furniture  South     350      35.0
9          110     Electronics  North     400      40.0

In [172]:
df=df.drop(8)
print("The Dataframe after deleting the 109 is:\n",df)

The Dataframe after deleting the 109 is:
    Transaction ProductCategory Region  Amount  Discount
0          101     Electronics  North     200      20.0
1          102        Clothing  South     165      16.5
2          103     Electronics  North     300      30.0
3          104       Furniture   East     450      45.0
4          105        Clothing   West     200      20.0
5          106     Electronics  North     250      25.0
6          107       Furniture   East     300      30.0
7          108        Clothing   West     180      18.0
9          110     Electronics  North     400      40.0

In [173]:
df=df.drop(columns=['Discount'])
print("The Dataframe After deleting Discount column is:\n",df)

The Dataframe After deleting Discount column is:
    Transaction ProductCategory Region  Amount
0          101     Electronics  North     200
1          102        Clothing  South     165
2          103     Electronics  North     300
3          104       Furniture   East     450
4          105        Clothing   West     200
5          106     Electronics  North     250
6          107       Furniture   East     300
7          108        Clothing   West     180
9          110     Electronics  North     400